.titulo{
    font-size: 12px;
    // margin-left: 20px;
}
.input{
    margin-left: 20px;
}
.imagenGrafica{
    opacity: 0.5;
}
.tituloGrafica{
    display: inline;
    font-size: 20px;
}
mat-slider {
    width: 300px;
  }