<mat-tab-group>
    <mat-tab label="Bienes">

        <div class="input">

            <p class="titulo">Altas de bienes por Agencia y Tipos</p>

            <mat-form-field style="margin-right: 10px">
                <mat-label>Agencia</mat-label>
                <mat-select [(ngModel)]='agenciaId' (selectionChange)='selectChange($event, 0)'>
                    <mat-option *ngFor="let agencia of agenciasAux" [value]="agencia.Id">
                        {{agencia.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="margin-right: 10px">
                <mat-label>Tipo Bien</mat-label>
                <mat-select [(ngModel)]='tipoBienId' (selectionChange)='selectChange($event, 1)'>
                    <mat-option *ngFor="let tipo of tiposBienesAux" [value]="tipo.Id">
                        {{tipo.Nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field style="margin-right: 10px">
                <input matInput [matDatepicker]="from" placeholder="Desde" [(ngModel)]='desde'>
                <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                <mat-datepicker touchUi #from></mat-datepicker>
            </mat-form-field>

            <mat-form-field style="margin-right: 10px">
                <input matInput [matDatepicker]="to" placeholder="Hasta" [(ngModel)]='hasta'>
                <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                <mat-datepicker touchUi #to></mat-datepicker>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="buscar()">Graficar</button>
        </div>

    </mat-tab>

    <mat-tab label="Opciones">
        <div class="input">
            <p class="titulo">Opciones</p>

            <mat-form-field>
                <mat-label>Tipo de Gráfica</mat-label>
                <mat-select (selectionChange)=" onSelection($event)">
                    <mat-option *ngFor="let opt of options" [value]="opt.value">
                        <img [src]="opt.img" alt="Nofoto" width="30">
                        {{opt.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>


            <div style="display: inline-block;">
                <div class="titulo labelSize">Tamaño</div>
                <mat-slider min="1" max="100" step="1" color="primary" thumbLabel [(ngModel)]="this.size"
                    (input)="onInputChange($event)"></mat-slider>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>

<div style="margin: 0 auto;" [style.height.px]="700 * (this.size/100)" [style.width.px]="1400 * (this.size/100)"
    *ngIf="mostrarGrafica && !waiting">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" [style.height.%]="100"
        [style.width.%]="100">
    </canvas>
</div>


<mat-progress-bar mode="indeterminate" *ngIf="waiting"></mat-progress-bar>

<div *ngIf="!mostrarGrafica && !waiting" style="text-align: center">
    <div style="margin-top: 13%">
        <img src="assets/img/grafico.png" class="imagenGrafica" width="100">
        <p class="tituloGrafica"> No hay datos para graficar.</p>
    </div>
</div>